@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color:#FFE65A;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

img {
  vertical-align: middle;
}

p {
    display:inline-block;
}
